# Annotation tool for time series data

By: Stefania Russo, Kris Villez
Copyright: 2018, distributed with BSD3 license

# Usage
- Create folder called "labels" into each case folder
- Change path of  working directory path_all
- Select Case (1 or 2)
- Select data file name_of_file
- Run the cells
- After performing the annotation, close the plot and run the last cell 'Save labelled data'
- Note: if the user wants to change any of his selections, he needs to move forward to the next plot by clicking 'Next', perform a selection of the anomalous data, and then go back and restart.

# Usage as .py script

- Create folder called "labels" into each case folder
- Change path of  working directory path_all
- Open terminal and go to the path of the .py file
- On terminal write : python name_of_annotation_tool.py
- Select Case + enter
- Select data file name_of_file + enter
- After performing the annotation, close the plot.
- Restart
- Note: if the user wants to change any of his selections, he needs to move forward to the next plot by clicking 'Next', perform a selection of the anomalous data, and then go back and restart.


# Usage as .ipyn script
- select notebook_type = 'ipynb'

## The challenge

In the context of the ADASen project, we want to address research questions regarding the utility of supervised and unsupervised machine learning models in anomaly detection for environmental systems. We have therefore selected a range of anomaly detection methods for benchmarking on data sets produced by six infrastructures at Eawag.

Critical to the benchmarking is the availability of fully labelled training and test data sets of normal and abnormal behavior in environmental data. 
An annotation tool has therefore being developed to perform the labelling procedure.

This notebook shows an application of the labelling procedure to time series data. Here, each time series is a univariate 24h signal from ......

Each series is visualised as a 24h time series.

## Current method

Below are described the steps for data access, data preparation, visualization and labelling procedure.

- The data is in the form of .csv data files. Each data file consists of many 24h sets across 2 sensors.

    - if missing values are already replaced with NaNs
    - If none, replace missing values with NaNs
    - Decide if removing dates with Missing Values
    - Perform Annotation

- The labelling procedure starts and the first plots are displayed. The 3 plots at the top are univariate sensor signals, where the bottom plot shows a collection of these signals.  

- The annotation tool allows the labelling expert to interactivelly select multiple portions of the time series by moving through the data with the mouse cursor.

- Each time the button 'Next' is clicked, all the selected areas (time index and sensor value) are saved together with information about the date stamp date. At the end of the procedure, the user can easily access to the anomaly labels in an easy manner.

- When the process is over, the plots need to be closed and then the cell 'Save labelled data' hs to be run 

- Note: if the user wants to change any of his selections, he needs to move forward to the next plot by clicking 'Next', perform a selection of the anomalous data, and then go back and restart.


 
# NOTE: 
## This is an alpha version of the labelling tool! Please provide any feedback

# Iniziatization

In [1]:
# Import Statements

import os
import numpy as np
import pandas as pd
import csv
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec
from matplotlib.widgets import Button
from matplotlib.widgets import SpanSelector
import itertools
#from sklearn import preprocessing
#import seaborn as sns
import datetime as datetime
from datetime import timedelta

In [2]:
notebook_type = 'py'

In [3]:
case_from_terminal = input('Please select Case (1: GAK (p3,p4)  2: Pressure T1 T2 (p1,p2)):  ')
text_from_terminal = input("Please enter the file name: ")  # Python 3

Please select Case (1: GAK (p3,p4)  2: Pressure T1 T2 (p1,p2)):  1
Please enter the file name: 06_June 2018

### Options

In [4]:
# Windows server: 
# path_all = ('//eaw-depts/eng$/IngData/StefaniaRusso/NEST/')

# iOS server: 
#path_all = ("/Volumes/NEST/")

# On personal laptop
path_all = ('/Users/russoste/Desktop/NEST/Data/months/')


save_path = path_all     # Destination folder to for labelled data

In [5]:
# Select Case
# Case = 2     # case 1: GAK (p3,p4),       case 2: Pressure T1 T2 (p1,p2)

if case_from_terminal == '1':
    folder = 'data_pressure_sensor_GAK/'
    
if case_from_terminal == '2':
    folder = 'data_pressure_sensors_T1_T2/' 
    
Case = int(case_from_terminal)    
    
# Select data file    
# name_of_file = '08_August 2018'
name_of_file = text_from_terminal

In [6]:
name_of_file1 = name_of_file + ".csv"
name_of_file_l1 =  folder + 'labels/' + name_of_file + '_labels_'
name_of_file_l1_time = folder + 'labels/' + name_of_file + '_labels_time'

In [7]:
print ('Now working with : ', folder, ' file: ', name_of_file)

Now working with :  data_pressure_sensor_GAK/  file:  06_June 2018

# Load data and basic sanity checks

In [8]:
# Load data

completePath = os.path.join(path_all, folder, name_of_file1) 
df = pd.read_csv(completePath)

In [9]:
df2 = df.copy(deep=True)

sr0 = df2.keys()[2]
sr1 = df2.keys()[3]
print('Sensor names:',sr0,',', sr1)

# if (df2.shape[0]%8640 !=0):
    # print('Missing values')

Sensor names: p3 , p4

In [10]:
df2['Datetime']=df2['day']+ ' ' + df2['hour']
df2['Datetime_'] = [x for x in (pd.to_datetime([i for i in df2['Datetime']], format='%d.%m.%Y %H:%M:%S'))] 
df3 = df2.resample('10S', on='Datetime_', base=10).mean()

if (df3.shape[0]%8640 !=0):
    print('Missing values')

In [11]:
df3 = df3.reset_index()

In [12]:
df3['day'] = [x.date() for x in df3['Datetime_']] 
df3['time'] = [x.time() for x in df3['Datetime_']]

In [13]:
df4 = df3.copy(deep=True)
df4.set_index(['day','time'], inplace=True)

df_bf_00 = df4[sr0]
df_bf_01 = df4[sr1]
df_bf_02 = df4[sr0] - df4[sr1]

df4.drop(columns ='Datetime_', inplace=True)
df2 = df4.copy(deep=True)

## Basic sanity checks

In [14]:
# Accessing dates
i_date = df2.index.get_level_values(0)                                      # get all dates
idx_date = np.unique(df2.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
# print('Unique dates:',date_list)

# for pl_i in range(len(date_list)):
#     if len(df_bf_00[date_list[pl_i].date()].values) != 8640:
#         print('Corrupted date:', date_list[pl_i].date())
#         print('Corrupted date index:',pl_i)
#         print('Corrupted date shape:', df2.loc[date_list[pl_i].date()].shape)  
# print ('Number of days:', df2.shape[0]/8640)

In [15]:
# Dates and times
data_df2 = df2.copy()

data_time = []
for pl_i in idx_date:                             # create data_time indeces to have access later
    time = data_df2.loc[i_date[pl_i]].index
    data_time.append(time)                        # associated to every date segment
    
time_int = [np.linspace(1, 8640, num = 8640, dtype=int) for _ in range(len(date_list))]

# Plotting

In [17]:
#get_ipython().run_line_magic('matplotlib', 'tk')

if notebook_type == 'ipynb':
    %matplotlib tk

if notebook_type == 'py':
    import matplotlib as mpl
    mpl.use('Qt5Agg')

data1 = []
data2 = []
data123 = []

itera = date_list

import numpy as np
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec

# ########################################
# # added

# import matplotlib as mpl
# mpl.use('Qt5Agg')
# #######################################

gs = gridspec.GridSpec(2, 2)

fig = plt.figure()
#plt.axis([0, 24, -3, 100])



ax1 = fig.add_subplot(gs[0, 0]) # row 0, col 0
ax2 = fig.add_subplot(gs[0, 1]) # row 0, col 1
ax4 = fig.add_subplot(gs[1, :]) # row 1, span all columns

ax1.set_title(sr0, fontdict=None, pad=None)
ax2.set_title(sr1, fontdict=None, pad=None)
full = sr0 + ' '+ sr1
ax4.set_title(full, fontdict=None, pad=None)

fig.suptitle(str(date_list[0].date()), fontsize=12)


if Case == 1:
    ax1.set_ylim([-3,100])
    ax2.set_ylim([-3,100])
    ax4.set_ylim([-3,100])
    
if Case == 2:
    ax1.set_ylim([40,150])
    ax2.set_ylim([40,150])
    ax4.set_ylim([40,150])

for pl_i in range(len(date_list)): 
    ax1.plot(time_int[pl_i], df_bf_00[date_list[pl_i].date()].values, '#C0C0C0', lw=2)
    ax2.plot(time_int[pl_i], df_bf_01[date_list[pl_i].date()].values, '#C0C0C0', lw=2)
    
l, = ax1.plot(time_int[0], df_bf_00[date_list[0].date()].values, '#1E90FF', lw=2)     #the first one is the one in blue
l2, = ax2.plot(time_int[0], df_bf_01[date_list[0].date()].values, '#8B008B')


###########################
if Case == 1:
    ll1, = ax4.plot(time_int[0], df_bf_00[date_list[0].date()].values, '#C0C0C0')
    ll2, = ax4.plot(time_int[0], df_bf_01[date_list[0].date()].values, '#C0C0C0')
    ll3, = ax4.plot(time_int[0], df_bf_02[date_list[0].date()].values, '#31a354')   # add difference4 plot

if Case == 2:
    ll1, = ax4.plot(time_int[0], df_bf_00[date_list[0].date()].values, '#1E90FF')
    ll2, = ax4.plot(time_int[0], df_bf_01[date_list[0].date()].values, '#8B008B')

############### Buttons widget  ####################

class Index(object):
    ind = 0

    def next(self, event):
        self.ind += 1
        i = self.ind % len(itera)

        #ydata0 will be the plot alone
        ydata1 = df_bf_00[date_list[i].date()].values   
        ydata2 = df_bf_01[date_list[i].date()].values 
        ydata3 = df_bf_02[date_list[i].date()].values 
        
        xdata = time_int[i]          
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        
        if Case == 1:
            ll1.set_ydata(ydata1)
            ll2.set_ydata(ydata2)
            ll3.set_ydata(ydata3)
            ll1.set_xdata(xdata) 
            ll2.set_xdata(xdata)
            ll3.set_xdata(xdata)
        
        if Case == 2:                
            ll1.set_ydata(ydata1)
            ll2.set_ydata(ydata2)
            ll1.set_xdata(xdata) 
            ll2.set_xdata(xdata)
        
        
        if (i == (0)):
            fig.suptitle('End of data files - restarting with data file ' + str(date_list[i].date()), fontsize=12)
        else: 
            fig.suptitle(str(date_list[i].date()), fontsize=12)
            
        plt.draw()

    def prev(self, event):
        self.ind -= 1
        i = self.ind % len(itera)
        
        #ydata0 will be the plot alone
        ydata1 = df_bf_00[date_list[i].date()].values 
        ydata2 = df_bf_01[date_list[i].date()].values 
        ydata3 = df_bf_02[date_list[i].date()].values 
        
        xdata = time_int[i]  
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        
        if Case == 1:
            ll1.set_ydata(ydata1)
            ll2.set_ydata(ydata2)
            ll3.set_ydata(ydata3)
            ll1.set_xdata(xdata) 
            ll2.set_xdata(xdata)
            ll3.set_xdata(xdata)
        
        if Case == 2:                
            ll1.set_ydata(ydata1)
            ll2.set_ydata(ydata2)
            ll1.set_xdata(xdata) 
            ll2.set_xdata(xdata)
        

        if (i == (0)):
            fig.suptitle('End of data files - restarting with data file ' + str(date_list[i].date()), fontsize=12)
        else: 
            fig.suptitle(str(date_list[i].date()), fontsize=12)
            
        plt.draw()

callback = Index()

axprev = plt.axes([0.7, 0.05, 0.1, 0.075])
axnext = plt.axes([0.81, 0.05, 0.1, 0.075])
bnext = Button(axnext, 'Next')
bnext.on_clicked(callback.next)

bprev = Button(axprev, 'Previous')
bprev.on_clicked(callback.prev)

"""
valore = '11'
def presskey(event):
    print('Pressed key = ', event.key)
    #sys.stdout.flush()    
    global valore 
    valore = event.key       
    return valore
"""

def onselect1(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = df_bf_00[date_list[callback.ind % len(itera)].date()].values 
    today = date_list[callback.ind % len(itera)]
   
    indmin1, indmax1 = np.searchsorted(x, (xmin, xmax))
    indmax1 = min(len(x) - 1, indmax1)
    thisx = x[indmin1:indmax1]
    thisy = y[indmin1:indmax1]    
    nplist = np.array([today.date() for i in range(len(thisx))])
        
    a1 = np.c_[nplist, thisx, thisy]
    global data1
    data1.extend(a1)
    #np.savetxt(completeName_label_1, data1)

        

def onselect2(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = df_bf_01[date_list[callback.ind % len(itera)].date()].values 
    today = date_list[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    thisx = x[indmin:indmax]
    thisy = y[indmin:indmax]
    nplist = np.array([today.date() for i in range(len(thisx))])
    
    a2 = np.c_[nplist, thisx, thisy]
    global data2
    data2.extend(a2)
    

def onselect4(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y1 = df_bf_00[date_list[callback.ind % len(itera)].date()].values 
    y2 = df_bf_01[date_list[callback.ind % len(itera)].date()].values
    today = date_list[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    
    thisx = x[indmin:indmax]
    thisy1 = y1[indmin:indmax]
    thisy2 = y2[indmin:indmax]
    nplist = np.array([today.date() for i in range(len(thisx))])
        
    # save
    a123 = np.c_[nplist, thisx, thisy1, thisy2]
    global data123
    data123.extend(a123)

    
"""
# Connect key event to figure
fig.canvas.mpl_connect('key_press_event',presskey)
"""

#class1 = Onselect_1()

spans1 = SpanSelector(ax1, onselect1, 'horizontal', useblit=False,
                      rectprops=dict(alpha=0.5, facecolor='red'), span_stays=True)
span2 = SpanSelector(ax2, onselect2, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red'), span_stays=True )
span4 = SpanSelector(ax4, onselect4, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') , span_stays=True)


########################################
if notebook_type == 'py':
    # added
    plt.show()
########################################

## Save labels

In [16]:
data1 = pd.DataFrame(data1, columns=['day','time_m', sr0])
data2 = pd.DataFrame(data2, columns=['day','time_m', sr1])
data123 = pd.DataFrame(data123, columns=['day','time_m', sr0, sr1])

data1.to_csv(os.path.join(save_path,name_of_file_l1+sr0 + ".csv") )
data2.to_csv(os.path.join(save_path,name_of_file_l1+sr1 + ".csv") )
data123.to_csv(os.path.join(save_path,name_of_file_l1+sr0+sr1+ ".csv") )

### Back to time labels

In [19]:
data1_l = data1.copy(deep=True)
data2_l = data2.copy(deep=True)
data123_l = data123.copy(deep=True)

data_df = data_df2.reset_index()

data_df_s1 = data_df.drop([sr1], axis=1)
data_df_s2 = data_df.drop([sr0], axis=1)
data_df_s3 = data_df.copy()

data_df_s1['time_m'] = np.reshape(time_int, 8640*len(time_int))
data_df_s2['time_m'] = np.reshape(time_int, 8640*len(time_int))
data_df_s3['time_m'] = np.reshape(time_int, 8640*len(time_int))

data_df_s1['day'] = [x.date() for x in data_df_s1['day']] 
data_df_s2['day'] = [x.date() for x in data_df_s2['day']] 
data_df_s3['day'] = [x.date() for x in data_df_s3['day']] 

data1_l.drop(columns = sr0, inplace=True)
data2_l.drop(columns = sr1, inplace=True)
data123_l.drop(columns =[sr0, sr1], inplace=True)

labels_df_1 = pd.merge(data_df_s1, data1_l, on = ['day', 'time_m'], how='left', indicator=True)
labels_df_2 = pd.merge(data_df_s2, data2_l, on = ['day', 'time_m'], how='left', indicator=True)
labels_df_123 = pd.merge(data_df_s3, data123_l, on = ['day', 'time_m'], how='left', indicator=True)

In [20]:
# ADD zeros and ones with dictionary mapping

mapper_dict = {'left_only': 0, 'both': 1}

def mp(entry):
    """
    maps new values
    """
    return mapper_dict[entry] if entry in mapper_dict else entry
mp = np.vectorize(mp)

In [21]:
labels_df_1 ['_merge'] = mp(labels_df_1['_merge'])
labels_df_2 ['_merge'] = mp(labels_df_2['_merge'])
labels_df_123 ['_merge'] = mp(labels_df_123['_merge'])

labels_df_1 = labels_df_1.rename(index=str, columns={"_merge": "Anomaly"})
labels_df_2 = labels_df_2.rename(index=str, columns={"_merge": "Anomaly"})
labels_df_123 = labels_df_123.rename(index=str, columns={"_merge": "Anomaly"})

In [22]:
labels_df_1.drop(['time_m'], axis=1, inplace=True)
labels_df_2.drop(['time_m'], axis=1, inplace=True)
labels_df_123.drop(['time_m'], axis=1, inplace=True)

In [23]:
labels_df_1.to_csv(os.path.join(save_path, name_of_file_l1_time+sr0 + ".csv") )
labels_df_2.to_csv(os.path.join(save_path, name_of_file_l1_time+sr1 + ".csv") )
labels_df_123.to_csv(os.path.join(save_path, name_of_file_l1_time+sr0+sr1 + ".csv") )

In [24]:
labels_df_1

               day      time     p1  Anomaly
0       2018-08-01  00:00:00   55.5        1
1       2018-08-01  00:00:10   55.5        1
2       2018-08-01  00:00:20   55.5        1
3       2018-08-01  00:00:30   55.5        1
4       2018-08-01  00:00:40   55.5        1
5       2018-08-01  00:00:50   55.5        1
6       2018-08-01  00:01:00   55.5        1
7       2018-08-01  00:01:10   55.5        1
8       2018-08-01  00:01:20   55.5        1
9       2018-08-01  00:01:30   55.5        1
10      2018-08-01  00:01:40   55.5        1
11      2018-08-01  00:01:50   55.5        1
12      2018-08-01  00:02:00   55.5        1
13      2018-08-01  00:02:10   55.5        1
14      2018-08-01  00:02:20   55.5        1
15      2018-08-01  00:02:30   55.5        1
16      2018-08-01  00:02:40   55.5        1
17      2018-08-01  00:02:50   55.5        1
18      2018-08-01  00:03:00   55.5        1
19      2018-08-01  00:03:10   55.4        1
20      2018-08-01  00:03:20   55.5        1
21      2018-08-01  00:03:30   55.5        1
22      2018-08-01  00:03:40   55.5        1
23      2018-08-01  00:03:50   55.4        1
24      2018-08-01  00:04:00   55.5        1
25      2018-08-01  00:04:10   55.4        1
26      2018-08-01  00:04:20   55.5        1
27      2018-08-01  00:04:30   55.4        1
28      2018-08-01  00:04:40   55.5        1
29      2018-08-01  00:04:50   55.5        1
...            ...       ...    ...      ...
270044  2018-08-31  23:55:00  111.9        0
270045  2018-08-31  23:55:10  111.8        0
270046  2018-08-31  23:55:20  111.9        0
270047  2018-08-31  23:55:30  111.9        0
270048  2018-08-31  23:55:40  112.0        0
270049  2018-08-31  23:55:50  112.0        0
270050  2018-08-31  23:56:00  111.9        0
270051  2018-08-31  23:56:10  111.9        0
270052  2018-08-31  23:56:20  111.9        0
270053  2018-08-31  23:56:30  111.9        0
270054  2018-08-31  23:56:40  111.9        0
270055  2018-08-31  23:56:50  112.0        0
270056  2018-08-31  23:57:00  111.8        0
270057  2018-08-31  23:57:10  112.0        0
270058  2018-08-31  23:57:20  111.9        0
270059  2018-08-31  23:57:30  112.0        0
270060  2018-08-31  23:57:40  111.9        0
270061  2018-08-31  23:57:50  111.9        0
270062  2018-08-31  23:58:00  111.9        0
270063  2018-08-31  23:58:10  111.9        0
270064  2018-08-31  23:58:20  111.9        0
270065  2018-08-31  23:58:30  112.0        0
270066  2018-08-31  23:58:40  111.9        0
270067  2018-08-31  23:58:50  111.9        0
270068  2018-08-31  23:59:00  112.0        0
270069  2018-08-31  23:59:10  111.9        0
270070  2018-08-31  23:59:20  111.9        0
270071  2018-08-31  23:59:30  111.9        0
270072  2018-08-31  23:59:40  111.9        0
270073  2018-08-31  23:59:50  111.9        0

[270074 rows x 4 columns]

In [25]:
data1_l

              day  time_m
0      2018-08-01       1
1      2018-08-01       2
2      2018-08-01       3
3      2018-08-01       4
4      2018-08-01       5
5      2018-08-01       6
6      2018-08-01       7
7      2018-08-01       8
8      2018-08-01       9
9      2018-08-01      10
10     2018-08-01      11
11     2018-08-01      12
12     2018-08-01      13
13     2018-08-01      14
14     2018-08-01      15
15     2018-08-01      16
16     2018-08-01      17
17     2018-08-01      18
18     2018-08-01      19
19     2018-08-01      20
20     2018-08-01      21
21     2018-08-01      22
22     2018-08-01      23
23     2018-08-01      24
24     2018-08-01      25
25     2018-08-01      26
26     2018-08-01      27
27     2018-08-01      28
28     2018-08-01      29
29     2018-08-01      30
...           ...     ...
10422  2018-08-01    4640
10423  2018-08-01    4641
10424  2018-08-01    4642
10425  2018-08-01    4643
10426  2018-08-01    4644
10427  2018-08-01    4645
10428  2018-08-01    4646
10429  2018-08-01    4647
10430  2018-08-01    4648
10431  2018-08-01    4649
10432  2018-08-01    4650
10433  2018-08-01    4651
10434  2018-08-01    4652
10435  2018-08-01    4653
10436  2018-08-01    4654
10437  2018-08-01    4655
10438  2018-08-01    4656
10439  2018-08-01    4657
10440  2018-08-01    4658
10441  2018-08-01    4659
10442  2018-08-01    4660
10443  2018-08-01    4661
10444  2018-08-01    4662
10445  2018-08-01    4663
10446  2018-08-01    4664
10447  2018-08-01    4665
10448  2018-08-01    4666
10449  2018-08-01    4667
10450  2018-08-01    4668
10451  2018-08-01    4669

[10452 rows x 2 columns]

In [104]:
i_date = data1_l.index.get_level_values(0)                                      # get all dates
idx_date = np.unique(data1_l.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
i_date[idx_date]

DatetimeIndex(['2018-08-01', '2018-08-02'], dtype='datetime64[ns]', name='day', freq=None)

In [103]:
np.unique(data1_l.index.get_level_values(0), return_index=True)[1]

array([   0, 2079])

In [106]:
labels = data1_l.copy()

In [ ]:
data1_l.set_index(['day'], inplace=True)

In [109]:
data1_l.drop_duplicates(keep='last', inplace=True)    #Return boolean Series denoting duplicate rows

Empty DataFrame
Columns: []
Index: [(2018-08-01 00:00:00, 1), (2018-08-01 00:00:00, 2), (2018-08-01 00:00:00, 3), (2018-08-01 00:00:00, 4), (2018-08-01 00:00:00, 5), (2018-08-01 00:00:00, 6), (2018-08-01 00:00:00, 7), (2018-08-01 00:00:00, 8), (2018-08-01 00:00:00, 9), (2018-08-01 00:00:00, 10), (2018-08-01 00:00:00, 11), (2018-08-01 00:00:00, 12), (2018-08-01 00:00:00, 13), (2018-08-01 00:00:00, 14), (2018-08-01 00:00:00, 15), (2018-08-01 00:00:00, 16), (2018-08-01 00:00:00, 17), (2018-08-01 00:00:00, 18), (2018-08-01 00:00:00, 19), (2018-08-01 00:00:00, 20), (2018-08-01 00:00:00, 21), (2018-08-01 00:00:00, 22), (2018-08-01 00:00:00, 23), (2018-08-01 00:00:00, 24), (2018-08-01 00:00:00, 25), (2018-08-01 00:00:00, 26), (2018-08-01 00:00:00, 27), (2018-08-01 00:00:00, 28), (2018-08-01 00:00:00, 29), (2018-08-01 00:00:00, 30), (2018-08-01 00:00:00, 31), (2018-08-01 00:00:00, 32), (2018-08-01 00:00:00, 33), (2018-08-01 00:00:00, 34), (2018-08-01 00:00:00, 35), (2018-08-01 00:00:00, 36), (2018-08-01 00:00:00, 37), (2018-08-01 00:00:00, 38), (2018-08-01 00:00:00, 39), (2018-08-01 00:00:00, 40), (2018-08-01 00:00:00, 41), (2018-08-01 00:00:00, 42), (2018-08-01 00:00:00, 43), (2018-08-01 00:00:00, 44), (2018-08-01 00:00:00, 45), (2018-08-01 00:00:00, 46), (2018-08-01 00:00:00, 47), (2018-08-01 00:00:00, 48), (2018-08-01 00:00:00, 49), (2018-08-01 00:00:00, 50), (2018-08-01 00:00:00, 51), (2018-08-01 00:00:00, 52), (2018-08-01 00:00:00, 53), (2018-08-01 00:00:00, 54), (2018-08-01 00:00:00, 55), (2018-08-01 00:00:00, 56), (2018-08-01 00:00:00, 57), (2018-08-01 00:00:00, 58), (2018-08-01 00:00:00, 59), (2018-08-01 00:00:00, 60), (2018-08-01 00:00:00, 61), (2018-08-01 00:00:00, 62), (2018-08-01 00:00:00, 63), (2018-08-01 00:00:00, 64), (2018-08-01 00:00:00, 65), (2018-08-01 00:00:00, 66), (2018-08-01 00:00:00, 67), (2018-08-01 00:00:00, 68), (2018-08-01 00:00:00, 69), (2018-08-01 00:00:00, 70), (2018-08-01 00:00:00, 71), (2018-08-01 00:00:00, 72), (2018-08-01 00:00:00, 73), (2018-08-01 00:00:00, 74), (2018-08-01 00:00:00, 75), (2018-08-01 00:00:00, 76), (2018-08-01 00:00:00, 77), (2018-08-01 00:00:00, 78), (2018-08-01 00:00:00, 79), (2018-08-01 00:00:00, 80), (2018-08-01 00:00:00, 81), (2018-08-01 00:00:00, 82), (2018-08-01 00:00:00, 83), (2018-08-01 00:00:00, 84), (2018-08-01 00:00:00, 85), (2018-08-01 00:00:00, 86), (2018-08-01 00:00:00, 87), (2018-08-01 00:00:00, 88), (2018-08-01 00:00:00, 89), (2018-08-01 00:00:00, 90), (2018-08-01 00:00:00, 91), (2018-08-01 00:00:00, 92), (2018-08-01 00:00:00, 93), (2018-08-01 00:00:00, 94), (2018-08-01 00:00:00, 95), (2018-08-01 00:00:00, 96), (2018-08-01 00:00:00, 97), (2018-08-01 00:00:00, 98), (2018-08-01 00:00:00, 99), (2018-08-01 00:00:00, 100), ...]

[8504 rows x 0 columns]