# Annotation tool for time series data

By: Stefania Russo, Kris Villez
Copyright: 2018, distributed with BSD3 license

## The challenge

In the context of the ADASen project, we want to address research questions regarding the utility of supervised and unsupervised machine learning models in anomaly detection for environmental systems. We have therefore selected a range of anomaly detection methods for benchmarking on data sets produced by six infrastructures at Eawag.

Critical to the benchmarking is the availability of fully labelled training and test data sets of normal and abnormal behavior in environmental data. 
An annotation tool has therefore being developed to perform the labelling procedure.

This notebook shows an application of the labelling procedure to time series data. Here, each time series is a univariate 24h signal from a spatially-distributed, low-power sensor network.

Each series is visualised as a 3am-3am time series.

## Current method

Below are described the steps for data access, data preparation, visualization and labelling procedure.

- The data is in the form of .csv data files. Each data file consists of many 24h sets across 3 sensors.
- Corruption checks are performed and dates cointaining corrupted time-series are removed
- The labelling procedure starts and the first plots are displayed. The 3 plots at the top are univariate sensor signals, where the bottom plot shows a collection of these signals.  

- The annotation tool allows the labelling expert to interactivelly select multiple portions of the time series by moving through the data with the mouse cursor.

- Each time the button 'Next' is clicked, all the selected areas (time index and sensor value) are saved together with information about the date stamp date. At the end of the procedure, the user can easily access to the anomaly labels in an easy manner.

- When the process is over, the plots need to be closed and then the cell 'Save labelled data' hs to be run 

- Note: if the user wants to change any of his selections, he needs to move forward to the next plot by clicking 'Next', perform a selection of the anomalous data, and then go back and restart.


# Usage

 - Install python and open this Jupyter notebook 
 - Paste your working directory into path_all
 
# NOTE: 
## This is a beta version of the labelling tool! Please provide any feedback

# Iniziatization

In [453]:
# Import Statements

import os
import numpy as np
import pandas as pd
import csv
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec
from matplotlib.widgets import Button
from matplotlib.widgets import SpanSelector
import itertools
from sklearn import preprocessing
import seaborn as sns
import datetime as datetime

# WINDOWS server: KV can find the data here
# path_all = ('//eaw-dc02/ea-daten/Abteilungsprojekte/eng/SWWData/2018_datValX/4_workspace/R/')

# iOS server: SR can find the data here
# path_all = ("/Volumes/UWO/")

# On SR's laptop
path_all = ('/Users/russoste/Desktop/Z_UWO/Data/')

#name_of_file1 = '190226_trialData_UWOforADASen_case1.csv'
name_of_file1 = '181128_trialData_UWOforADASen_case1.csv'
#name_of_file2 = '181128_trialData_UWOforADASen_case2.csv'

save_path = path_all     # Destination folder to for saving text file
name_of_file_l1 = "Labels_Case1_raw_"
name_of_file_l1_time = "Labels_Anomaly_data_"

# Load data and basic sanity checks

In [454]:
# Load data

completePath = os.path.join(path_all, name_of_file1) 
df = pd.read_csv(completePath)

df2 = df.copy(deep=True)
df2['date'], df2['time'] = df2['time'].str.split(' ', 1).str

sr0 = df2.keys()[1]
sr1 = df2.keys()[2]
sr2 = df2.keys()[3]
print('Sensor names:',sr0,',', sr1,',', sr2)

# Create datetime 

df2['date'] = [x.date() for x in (pd.to_datetime([i for i in df2['date']], format='%Y-%m-%d'))] 
df2['time'] = [x.time() for x in (pd.to_datetime([i for i in df2['time']], format='%H:%M:%S'))]   # remove primes from the time
df1 = df2.copy(deep=True)
df2.set_index(['date','time'], inplace=True)

df_bf_00 = df2[sr0]
df_bf_01 = df2[sr1]
df_bf_02 = df2[sr2]

Sensor names: bf_03 , bf_04 , bl_ce193

## Basic sanity checks

In [455]:
# Accessing dates
i_date = df2.index.get_level_values(0)                                      # get all dates
idx_date = np.unique(df2.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
print('Unique dates:',date_list)

for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) != 288:
        print('Corrupted date:', date_list[pl_i].date())
        print('Corrupted date index:',pl_i)
        print('Corrupted date shape:', df2.loc[date_list[pl_i].date()].shape)  

# Removing dates where more than 1/3 of data is missing

data_df2 = df2.copy()
for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) < 192:
        data_df2.drop(date_list[pl_i].date(),level='date',inplace=True)

Unique dates: DatetimeIndex(['2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09',
               '2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13',
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-17',
               '2018-03-18', '2018-03-19', '2018-03-20', '2018-03-21',
               '2018-03-22', '2018-03-23', '2018-03-24', '2018-03-25',
               '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-03-31', '2018-04-01', '2018-04-02',
               '2018-04-03', '2018-04-04', '2018-04-05', '2018-04-06',
               '2018-04-07', '2018-04-08', '2018-04-09', '2018-04-10',
               '2018-04-11', '2018-04-12', '2018-04-13', '2018-04-14',
               '2018-04-15', '2018-04-16', '2018-04-17', '2018-04-18',
               '2018-04-19', '2018-04-20', '2018-04-21', '2018-04-22',
               '2018-04-23', '2018-04-24', '2018-04-25'],
              dtype='datetime64[ns]', name='date', freq=None)
Corrupted date: 2018-04-25
Corrupted date index: 50
Corrupted date shape: (145, 3)

In [445]:
# Checking if it works and compute again date index

# Accessing dates
i_date = data_df2.index.get_level_values(0)                                      # get all dates
idx_date = np.unique(data_df2.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all dates
print('Unique dates:',date_list)

df_bf_00 = data_df2[sr0]
df_bf_01 = data_df2[sr1]
df_bf_02 = data_df2[sr2]

for pl_i in range(len(date_list)):
    if len(df_bf_00[date_list[pl_i].date()].values) <288:
        print('Corrupted date:', date_list[pl_i].date())
        print('Corrupted date index:',pl_i)
        print('Corrupted date shape:', data_df2.loc[date_list[pl_i].date()].shape)

Unique dates: DatetimeIndex(['2017-01-21', '2017-01-22', '2017-01-23', '2017-01-24',
               '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-28',
               '2017-01-29', '2017-02-11',
               ...
               '2018-10-04', '2018-10-05', '2018-10-06', '2018-10-07',
               '2018-10-08', '2018-10-09', '2018-10-10', '2018-10-14',
               '2018-10-15', '2018-12-29'],
              dtype='datetime64[ns]', name='date', length=110, freq=None)
Corrupted date: 2017-02-11
Corrupted date index: 9
Corrupted date shape: (287, 3)
Corrupted date: 2017-02-15
Corrupted date index: 10
Corrupted date shape: (281, 3)
Corrupted date: 2017-02-16
Corrupted date index: 11
Corrupted date shape: (285, 3)
Corrupted date: 2018-01-30
Corrupted date index: 74
Corrupted date shape: (282, 3)
Corrupted date: 2018-09-10
Corrupted date index: 92
Corrupted date shape: (248, 3)
Corrupted date: 2018-09-11
Corrupted date index: 93
Corrupted date shape: (248, 3)
Corrupted date: 2018-09-16
Corrupted date index: 94
Corrupted date shape: (248, 3)
Corrupted date: 2018-09-17
Corrupted date index: 95
Corrupted date shape: (248, 3)
Corrupted date: 2018-09-26
Corrupted date index: 96
Corrupted date shape: (248, 3)
Corrupted date: 2018-09-27
Corrupted date index: 97
Corrupted date shape: (248, 3)
Corrupted date: 2018-09-28
Corrupted date index: 98
Corrupted date shape: (248, 3)
Corrupted date: 2018-09-29
Corrupted date index: 99
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-04
Corrupted date index: 100
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-05
Corrupted date index: 101
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-06
Corrupted date index: 102
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-07
Corrupted date index: 103
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-08
Corrupted date index: 104
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-09
Corrupted date index: 105
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-10
Corrupted date index: 106
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-14
Corrupted date index: 107
Corrupted date shape: (248, 3)
Corrupted date: 2018-10-15
Corrupted date index: 108
Corrupted date shape: (248, 3)
Corrupted date: 2018-12-29
Corrupted date index: 109
Corrupted date shape: (262, 3)

In [446]:
# Dates and times
data_time = []
for pl_i in idx_date:                             # create data_time indeces to have access later
    time = data_df2.loc[i_date[pl_i]].index
    data_time.append(time)                        # associated to every date segment

In [447]:
mm = []
for i in range(len(data_time)):
    minutes = []
    for j in data_time[i]:
        mins = (j.hour * 60 + j.minute)
        minutes.append(mins) 
    mm.append(minutes)

In [448]:
time_int = mm.copy()

# Plotting

In [449]:
%matplotlib tk

data1 = []
data2 = []
data3 = []
data123 = []

itera = date_list

import numpy as np
import matplotlib.pylab as pl
import matplotlib.gridspec as gridspec

gs = gridspec.GridSpec(2, 3)

fig = plt.figure()
#plt.axis([0, 24, -3, 100])

ax1 = fig.add_subplot(gs[0, 0]) # row 0, col 0
ax2 = fig.add_subplot(gs[0, 1]) # row 0, col 1
ax3 = fig.add_subplot(gs[0, 2]) # row 0, col 1
ax4 = fig.add_subplot(gs[1, :]) # row 1, span all columns

ax1.set_title(sr0, fontdict=None, pad=None)
ax2.set_title(sr1, fontdict=None, pad=None)
ax3.set_title(sr2, fontdict=None, pad=None)
full = sr0 + ' '+ sr1 +''+ sr2
ax4.set_title(full, fontdict=None, pad=None)

fig.suptitle(str(date_list[0].date()), fontsize=12)

ax1.set_ylim([-3,100])
ax2.set_ylim([-3,100])
ax3.set_ylim([-3,100])
ax4.set_ylim([-3,100])

for pl_i in range(len(date_list)): 
    ax1.plot(time_int[pl_i], df_bf_00[date_list[pl_i].date()].values, '#C0C0C0', lw=2)
    ax2.plot(time_int[pl_i], df_bf_01[date_list[pl_i].date()].values, '#C0C0C0', lw=2)
    ax3.plot(time_int[pl_i], df_bf_02[date_list[pl_i].date()].values,  '#C0C0C0',lw=2) 
    
l, = ax1.plot(time_int[0], df_bf_00[date_list[0].date()].values, '#1E90FF', lw=2)     #the first one is the one in blue
l2, = ax2.plot(time_int[0], df_bf_01[date_list[0].date()].values, '#8B008B')
l3, = ax3.plot(time_int[0], df_bf_02[date_list[0].date()].values,'#FFDAB9')


ll1, = ax4.plot(time_int[0], df_bf_00[date_list[0].date()].values, '#1E90FF')
ll2, = ax4.plot(time_int[0], df_bf_01[date_list[0].date()].values, '#8B008B')
ll3, = ax4.plot(time_int[0],  df_bf_02[date_list[0].date()].values, '#FFDAB9')




############### Buttons widget  ####################

class Index(object):
    ind = 0

    def next(self, event):
        self.ind += 1
        i = self.ind % len(itera)

        #ydata0 will be the plot alone
        ydata1 = df_bf_00[date_list[i].date()].values   
        ydata2 = df_bf_01[date_list[i].date()].values 
        ydata3 = df_bf_02[date_list[i].date()].values
        xdata = time_int[i]          
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        l3.set_ydata(ydata3)
        l3.set_xdata(xdata)
        
        ll1.set_ydata(ydata1)
        ll2.set_ydata(ydata2)
        ll3.set_ydata(ydata3) 
        
        ll1.set_xdata(xdata) 
        ll2.set_xdata(xdata)
        ll3.set_xdata(xdata)
        
        if (i == (0)):
            fig.suptitle('End of data files - restarting with data file ' + str(date_list[i].date()), fontsize=12)
        else: 
            fig.suptitle(str(date_list[i].date()), fontsize=12)
            
        plt.draw()

    def prev(self, event):
        self.ind -= 1
        i = self.ind % len(itera)
        
        #ydata0 will be the plot alone
        ydata1 = df_bf_00[date_list[i].date()].values 
        ydata2 = df_bf_01[date_list[i].date()].values 
        ydata3 = df_bf_02[date_list[i].date()].values
        xdata = time_int[i]  
        
        l.set_ydata(ydata1)
        l.set_xdata(xdata)
        
        l2.set_ydata(ydata2)
        l2.set_xdata(xdata)
        
        l3.set_ydata(ydata3)
        l3.set_xdata(xdata)

        ll1.set_ydata(ydata1)
        ll2.set_ydata(ydata2)
        ll3.set_ydata(ydata3) 

        ll1.set_xdata(xdata) 
        ll2.set_xdata(xdata)
        ll3.set_xdata(xdata)
        

        if (i == (0)):
            fig.suptitle('End of data files - restarting with data file ' + str(date_list[i].date()), fontsize=12)
        else: 
            fig.suptitle(str(date_list[i].date()), fontsize=12)
            
        plt.draw()

callback = Index()

axprev = plt.axes([0.7, 0.05, 0.1, 0.075])
axnext = plt.axes([0.81, 0.05, 0.1, 0.075])
bnext = Button(axnext, 'Next')
bnext.on_clicked(callback.next)

bprev = Button(axprev, 'Previous')
bprev.on_clicked(callback.prev)

"""
valore = '11'
def presskey(event):
    print('Pressed key = ', event.key)
    #sys.stdout.flush()    
    global valore 
    valore = event.key       
    return valore
"""

def onselect1(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = df_bf_00[date_list[callback.ind % len(itera)].date()].values 
    today = date_list[callback.ind % len(itera)]
   
    indmin1, indmax1 = np.searchsorted(x, (xmin, xmax))
    indmax1 = min(len(x) - 1, indmax1)
    thisx = x[indmin1:indmax1]
    thisy = y[indmin1:indmax1]    
    nplist = np.array([today.date() for i in range(len(thisx))])
        
    a1 = np.c_[nplist, thisx, thisy]
    global data1
    data1.extend(a1)
    #np.savetxt(completeName_label_1, data1)

        

def onselect2(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = df_bf_01[date_list[callback.ind % len(itera)].date()].values 
    today = date_list[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    thisx = x[indmin:indmax]
    thisy = y[indmin:indmax]
    nplist = np.array([today.date() for i in range(len(thisx))])
    
    a2 = np.c_[nplist, thisx, thisy]
    global data2
    data2.extend(a2)
    

def onselect3(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y = df_bf_02[date_list[callback.ind % len(itera)].date()].values 
    today = date_list[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    thisx = x[indmin:indmax]
    thisy = y[indmin:indmax]
    nplist = np.array([today.date() for i in range(len(thisx))])
    
    a3 = np.c_[nplist, thisx, thisy]
    global data3
    data3.extend(a3)

def onselect4(xmin, xmax):
    x = time_int[callback.ind % len(itera)]
    y1 = df_bf_00[date_list[callback.ind % len(itera)].date()].values 
    y2 = df_bf_01[date_list[callback.ind % len(itera)].date()].values
    y3 = df_bf_02[date_list[callback.ind % len(itera)].date()].values
    today = date_list[callback.ind % len(itera)]
    
    indmin, indmax = np.searchsorted(x, (xmin, xmax))
    indmax = min(len(x) - 1, indmax)
    
    thisx = x[indmin:indmax]
    thisy1 = y1[indmin:indmax]
    thisy2 = y2[indmin:indmax]
    thisy3 = y3[indmin:indmax] 
    nplist = np.array([today.date() for i in range(len(thisx))])
        
    # save
    a123 = np.c_[nplist, thisx, thisy1, thisy2, thisy3]
    global data123
    data123.extend(a123)

    
"""
# Connect key event to figure
fig.canvas.mpl_connect('key_press_event',presskey)
"""

#class1 = Onselect_1()

spans1 = SpanSelector(ax1, onselect1, 'horizontal', useblit=False,
                      rectprops=dict(alpha=0.5, facecolor='red'), span_stays=True)
span2 = SpanSelector(ax2, onselect2, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red'), span_stays=True )
span3 = SpanSelector(ax3, onselect3, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red'), span_stays=True)
span4 = SpanSelector(ax4, onselect4, 'horizontal', useblit=True,
                    rectprops=dict(alpha=0.5, facecolor='red') , span_stays=True)

## Save raw labels

In [450]:
data1 = pd.DataFrame(data1, columns=['date','time_m', sr0])
data2 = pd.DataFrame(data2, columns=['date','time_m', sr1])
data3 = pd.DataFrame(data3, columns=['date','time_m', sr2])
data123 = pd.DataFrame(data123, columns=['date','time_m', sr0, sr1, sr2])

data1.to_csv(os.path.join(save_path, name_of_file_l1+sr0 + ".csv") )
data2.to_csv(os.path.join(save_path, name_of_file_l1+sr1 + ".csv") )
data3.to_csv(os.path.join(save_path, name_of_file_l1+sr2 + ".csv") )
data123.to_csv(os.path.join(save_path, name_of_file_l1+sr0+sr1+sr2 + ".csv") )

### Back to time

In [433]:
data1_l = data1.copy(deep=True)
data2_l = data2.copy(deep=True)
data3_l = data3.copy(deep=True)
data123_l = data123.copy(deep=True)

In [434]:
data1_l["time"] = None
data2_l["time"] = None 
data3_l["time"] = None 
data123_l["time"] = None 

for iSample in range(data1_l.shape[0]):
    entry = data1.loc[iSample,'time_m']
    time = str(timedelta(minutes=int(entry)))
    data1_l.loc[iSample,'time'] = time
data1_l = data1_l[['date', 'time_m', 'time', sr0]]
data1_l.drop(['time_m'], axis=1, inplace=True)
data1_l['date'] = pd.to_datetime((data1_l['date']), format='%Y-%m-%d')
data1_l['time'] = [x.time() for x in (pd.to_datetime([i for i in data1_l['time']], format='%H:%M:%S'))] 
    

for iSample in range(data2_l.shape[0]):
    entry = data2.loc[iSample,'time_m']
    time = str(timedelta(minutes=int(entry)))
    data2_l.loc[iSample,'time'] = time
data2_l = data2_l[['date', 'time_m', 'time', sr1]]
data2_l.drop(['time_m'], axis=1, inplace=True)
data2_l['date'] = pd.to_datetime((data2_l['date']), format='%Y-%m-%d')
data2_l['time'] = [x.time() for x in (pd.to_datetime([i for i in data2_l['time']], format='%H:%M:%S'))] 
    

for iSample in range(data3_l.shape[0]):
    entry = data3.loc[iSample,'time_m']
    time = str(timedelta(minutes=int(entry)))
    data3_l.loc[iSample,'time'] = time
data3_l = data3_l[['date', 'time_m', 'time', sr2]]
data3_l.drop(['time_m'], axis=1, inplace=True)
data3_l['date'] = pd.to_datetime((data3_l['date']), format='%Y-%m-%d')
data3_l['time'] = [x.time() for x in (pd.to_datetime([i for i in data3_l['time']], format='%H:%M:%S'))] 
   

for iSample in range(data123_l.shape[0]):
    entry = data123.loc[iSample,'time_m']
    time = str(timedelta(minutes=int(entry)))
    data123_l.loc[iSample,'time'] = time
data123_l = data123_l[['date', 'time_m', 'time', sr0, sr1, sr2]]
data123_l.drop(['time_m'], axis=1, inplace=True)
data123_l['date'] = pd.to_datetime((data123_l['date']), format='%Y-%m-%d')
data123_l['time'] = [x.time() for x in (pd.to_datetime([i for i in data123_l['time']], format='%H:%M:%S'))] 
data123_l

         date      time     bf_03  bf_04  bl_ce193
0  2017-01-27  02:20:00   4.60151    NaN       NaN
1  2017-01-27  02:25:00   5.84510    NaN       NaN
2  2017-01-27  02:30:00   5.42740    NaN       NaN
3  2017-01-27  02:35:00   6.04179    NaN       NaN
4  2017-01-27  02:40:00   5.93766    NaN       NaN
5  2017-01-27  02:45:00   5.81029    NaN       NaN
6  2017-01-27  02:50:00   5.17909    NaN       NaN
7  2017-01-27  02:55:00   5.44419    NaN       NaN
8  2017-01-27  03:00:00  12.96260    NaN       NaN
9  2017-01-27  03:05:00   4.67102    NaN       NaN
10 2017-01-27  03:10:00   5.23035    NaN       NaN
11 2017-01-27  03:15:00   4.91723    NaN       NaN
12 2017-01-27  03:20:00   4.76773    NaN       NaN
13 2017-01-27  03:25:00   4.75791    NaN       NaN
14 2017-01-27  03:30:00   6.28734    NaN       NaN
15 2017-01-27  03:35:00   5.16909    NaN       NaN
16 2017-01-27  03:40:00   5.27658    NaN       NaN
17 2017-01-27  03:45:00   5.04201    NaN       NaN
18 2017-01-27  03:50:00   4.65683    NaN       NaN
19 2017-01-27  03:55:00   5.65755    NaN       NaN
20 2017-01-27  04:00:00   5.42121    NaN       NaN
21 2017-01-27  04:05:00   5.66832    NaN       NaN
22 2017-01-27  04:10:00   5.45190    NaN       NaN
23 2017-01-27  04:15:00   5.74129    NaN       NaN
24 2017-01-27  04:20:00   6.05902    NaN       NaN
25 2017-01-27  04:25:00   6.10085    NaN       NaN
26 2017-01-27  04:30:00   5.78340    NaN       NaN
27 2017-01-27  04:35:00   5.85974    NaN       NaN
28 2017-01-27  04:40:00   5.76704    NaN       NaN
29 2017-01-27  04:45:00   5.91079    NaN       NaN
..        ...       ...       ...    ...       ...
47 2017-01-27  06:15:00  12.85570    NaN       NaN
48 2017-01-27  06:20:00  11.60870    NaN       NaN
49 2017-01-27  06:25:00  12.68900    NaN       NaN
50 2017-01-27  06:30:00  14.55700    NaN       NaN
51 2017-01-27  06:35:00  13.04810    NaN       NaN
52 2017-01-28  12:20:00  18.18300    NaN       NaN
53 2017-01-28  12:25:00  21.11440    NaN       NaN
54 2017-01-28  12:30:00  20.28310    NaN       NaN
55 2017-01-28  12:35:00  19.41510    NaN       NaN
56 2017-01-28  12:40:00  19.63410    NaN       NaN
57 2017-01-28  12:45:00  19.34480    NaN       NaN
58 2017-01-28  12:50:00  19.28140    NaN       NaN
59 2017-01-28  12:55:00  20.80030    NaN       NaN
60 2017-01-28  13:00:00  21.28590    NaN       NaN
61 2017-01-28  13:05:00  21.56010    NaN       NaN
62 2017-01-28  13:10:00  21.40850    NaN       NaN
63 2017-01-28  13:15:00  21.54490    NaN       NaN
64 2017-01-28  13:20:00  21.46930    NaN       NaN
65 2017-01-28  13:25:00  22.94200    NaN       NaN
66 2017-01-28  13:30:00  23.31930    NaN       NaN
67 2017-01-28  13:35:00  31.67980    NaN       NaN
68 2017-01-28  13:40:00  23.62630    NaN       NaN
69 2017-01-28  13:45:00  21.89340    NaN       NaN
70 2017-01-28  13:50:00  22.52270    NaN       NaN
71 2017-01-28  13:55:00  21.90120    NaN       NaN
72 2017-01-28  14:00:00  22.21860    NaN       NaN
73 2017-01-28  14:05:00  22.62420    NaN       NaN
74 2017-01-28  14:10:00  21.87710    NaN       NaN
75 2017-01-28  14:15:00  23.49800    NaN       NaN
76 2017-01-28  14:20:00  22.34990    NaN       NaN

[77 rows x 5 columns]

# Labelled data

In [435]:
data_lab_1 = pd.DataFrame(df_bf_00.copy())
#data_lab_1['Anomaly'] = '0'
data_lab_1 = data_lab_1.reset_index(level=[0,1])

data_lab_2 = pd.DataFrame(df_bf_01.copy())
#data_lab_2['Anomaly'] = '0'
data_lab_2 = data_lab_2.reset_index(level=[0,1])

data_lab_3 = pd.DataFrame(df_bf_02.copy())
#data_lab_3['Anomaly'] = '0'
data_lab_3 = data_lab_3.reset_index(level=[0,1])

data_lab_123 = pd.DataFrame(df_bf_00.copy())
data_lab_123[sr1] = data_lab_2[sr1]
data_lab_123[sr2] = data_lab_3[sr2]
#data_lab_123['Anomaly'] = '0'
data_lab_123 = data_lab_123.reset_index(level=[0,1])
data_lab_123

            date      time      bf_03  bf_04  bl_ce193
0     2017-01-21  00:00:00   6.047260    NaN       NaN
1     2017-01-21  00:05:00   5.781980    NaN       NaN
2     2017-01-21  00:10:00   6.592220    NaN       NaN
3     2017-01-21  00:15:00   6.772040    NaN       NaN
4     2017-01-21  00:20:00   7.197030    NaN       NaN
5     2017-01-21  00:25:00   6.520730    NaN       NaN
6     2017-01-21  00:30:00   5.898150    NaN       NaN
7     2017-01-21  00:35:00   5.554610    NaN       NaN
8     2017-01-21  00:40:00   7.178450    NaN       NaN
9     2017-01-21  00:45:00   7.341890    NaN       NaN
10    2017-01-21  00:50:00   6.753360    NaN       NaN
11    2017-01-21  00:55:00   5.716020    NaN       NaN
12    2017-01-21  01:00:00   5.632230    NaN       NaN
13    2017-01-21  01:05:00   6.281950    NaN       NaN
14    2017-01-21  01:10:00   5.498390    NaN       NaN
15    2017-01-21  01:15:00   5.511250    NaN       NaN
16    2017-01-21  01:20:00   5.508930    NaN       NaN
17    2017-01-21  01:25:00   6.641100    NaN       NaN
18    2017-01-21  01:30:00   6.635350    NaN       NaN
19    2017-01-21  01:35:00   6.460830    NaN       NaN
20    2017-01-21  01:40:00   6.078070    NaN       NaN
21    2017-01-21  01:45:00   5.647490    NaN       NaN
22    2017-01-21  01:50:00   6.784870    NaN       NaN
23    2017-01-21  01:55:00   5.735190    NaN       NaN
24    2017-01-21  02:00:00   6.436350    NaN       NaN
25    2017-01-21  02:05:00   6.037760    NaN       NaN
26    2017-01-21  02:10:00   5.869720    NaN       NaN
27    2017-01-21  02:15:00   5.829860    NaN       NaN
28    2017-01-21  02:20:00   5.711240    NaN       NaN
29    2017-01-21  02:25:00   5.340400    NaN       NaN
...          ...       ...        ...    ...       ...
30927 2018-12-29  19:20:00  16.861433    NaN       NaN
30928 2018-12-29  19:25:00  16.255536    NaN       NaN
30929 2018-12-29  19:30:00  17.342905    NaN       NaN
30930 2018-12-29  19:35:00  17.465438    NaN       NaN
30931 2018-12-29  19:40:00  15.795061    NaN       NaN
30932 2018-12-29  19:45:00  16.801088    NaN       NaN
30933 2018-12-29  19:50:00  15.745901    NaN       NaN
30934 2018-12-29  19:55:00  15.605053    NaN       NaN
30935 2018-12-29  20:00:00  16.854090    NaN       NaN
30936 2018-12-29  20:05:00  16.871995    NaN       NaN
30937 2018-12-29  20:10:00  15.302820    NaN       NaN
30938 2018-12-29  20:15:00  16.497612    NaN       NaN
30939 2018-12-29  20:20:00  16.339679    NaN       NaN
30940 2018-12-29  20:25:00  16.537365    NaN       NaN
30941 2018-12-29  20:30:00  15.580908    NaN       NaN
30942 2018-12-29  20:35:00  16.615666    NaN       NaN
30943 2018-12-29  20:40:00  15.358522    NaN       NaN
30944 2018-12-29  20:45:00  16.269523    NaN       NaN
30945 2018-12-29  20:50:00  14.077682    NaN       NaN
30946 2018-12-29  20:55:00  14.695699    NaN       NaN
30947 2018-12-29  21:00:00  14.427188    NaN       NaN
30948 2018-12-29  21:05:00  18.680842    NaN       NaN
30949 2018-12-29  21:10:00  15.422060    NaN       NaN
30950 2018-12-29  21:15:00  14.997862    NaN       NaN
30951 2018-12-29  21:20:00  13.919938    NaN       NaN
30952 2018-12-29  21:25:00  14.632319    NaN       NaN
30953 2018-12-29  21:30:00  13.926676    NaN       NaN
30954 2018-12-29  21:35:00  15.378244    NaN       NaN
30955 2018-12-29  21:40:00  14.124084    NaN       NaN
30956 2018-12-29  21:45:00  14.271280    NaN       NaN

[30957 rows x 5 columns]

In [436]:
#labels_df = pd.merge(data_lab_123, data123_l, on = ['date', 'time'], how='left', indicator=True)
labels_df_1 = pd.merge(data_lab_1, data1_l, how='left', indicator=True)
labels_df_2 = pd.merge(data_lab_2, data2_l, how='left', indicator=True)
labels_df_3 = pd.merge(data_lab_3, data3_l, how='left', indicator=True)
labels_df_123 = pd.merge(data_lab_123, data123_l, how='left', indicator=True)

In [437]:
# ADD zeros and ones with dictionary mapping

mapper_dict = {'left_only': 0, 'both': 1}

def mp(entry):
    """
    maps new values
    """
    return mapper_dict[entry] if entry in mapper_dict else entry
mp = np.vectorize(mp)

In [438]:
labels_df_1 ['_merge'] = mp(labels_df_1['_merge'])
labels_df_2 ['_merge'] = mp(labels_df_2['_merge'])
labels_df_3 ['_merge'] = mp(labels_df_3['_merge'])
labels_df_123 ['_merge'] = mp(labels_df_123['_merge'])

In [439]:
labels_df_1 = labels_df_1.rename(index=str, columns={"_merge": "Anomaly"})
labels_df_2 = labels_df_2.rename(index=str, columns={"_merge": "Anomaly"})
labels_df_3 = labels_df_3.rename(index=str, columns={"_merge": "Anomaly"})
labels_df_123 = labels_df_123.rename(index=str, columns={"_merge": "Anomaly"})

            date      time      bf_03  bf_04  bl_ce193  Anomaly
0     2017-01-21  00:00:00   6.047260    NaN       NaN        0
1     2017-01-21  00:05:00   5.781980    NaN       NaN        0
2     2017-01-21  00:10:00   6.592220    NaN       NaN        0
3     2017-01-21  00:15:00   6.772040    NaN       NaN        0
4     2017-01-21  00:20:00   7.197030    NaN       NaN        0
5     2017-01-21  00:25:00   6.520730    NaN       NaN        0
6     2017-01-21  00:30:00   5.898150    NaN       NaN        0
7     2017-01-21  00:35:00   5.554610    NaN       NaN        0
8     2017-01-21  00:40:00   7.178450    NaN       NaN        0
9     2017-01-21  00:45:00   7.341890    NaN       NaN        0
10    2017-01-21  00:50:00   6.753360    NaN       NaN        0
11    2017-01-21  00:55:00   5.716020    NaN       NaN        0
12    2017-01-21  01:00:00   5.632230    NaN       NaN        0
13    2017-01-21  01:05:00   6.281950    NaN       NaN        0
14    2017-01-21  01:10:00   5.498390    NaN       NaN        0
15    2017-01-21  01:15:00   5.511250    NaN       NaN        0
16    2017-01-21  01:20:00   5.508930    NaN       NaN        0
17    2017-01-21  01:25:00   6.641100    NaN       NaN        0
18    2017-01-21  01:30:00   6.635350    NaN       NaN        0
19    2017-01-21  01:35:00   6.460830    NaN       NaN        0
20    2017-01-21  01:40:00   6.078070    NaN       NaN        0
21    2017-01-21  01:45:00   5.647490    NaN       NaN        0
22    2017-01-21  01:50:00   6.784870    NaN       NaN        0
23    2017-01-21  01:55:00   5.735190    NaN       NaN        0
24    2017-01-21  02:00:00   6.436350    NaN       NaN        0
25    2017-01-21  02:05:00   6.037760    NaN       NaN        0
26    2017-01-21  02:10:00   5.869720    NaN       NaN        0
27    2017-01-21  02:15:00   5.829860    NaN       NaN        0
28    2017-01-21  02:20:00   5.711240    NaN       NaN        0
29    2017-01-21  02:25:00   5.340400    NaN       NaN        0
...          ...       ...        ...    ...       ...      ...
30927 2018-12-29  19:20:00  16.861433    NaN       NaN        0
30928 2018-12-29  19:25:00  16.255536    NaN       NaN        0
30929 2018-12-29  19:30:00  17.342905    NaN       NaN        0
30930 2018-12-29  19:35:00  17.465438    NaN       NaN        0
30931 2018-12-29  19:40:00  15.795061    NaN       NaN        0
30932 2018-12-29  19:45:00  16.801088    NaN       NaN        0
30933 2018-12-29  19:50:00  15.745901    NaN       NaN        0
30934 2018-12-29  19:55:00  15.605053    NaN       NaN        0
30935 2018-12-29  20:00:00  16.854090    NaN       NaN        0
30936 2018-12-29  20:05:00  16.871995    NaN       NaN        0
30937 2018-12-29  20:10:00  15.302820    NaN       NaN        0
30938 2018-12-29  20:15:00  16.497612    NaN       NaN        0
30939 2018-12-29  20:20:00  16.339679    NaN       NaN        0
30940 2018-12-29  20:25:00  16.537365    NaN       NaN        0
30941 2018-12-29  20:30:00  15.580908    NaN       NaN        0
30942 2018-12-29  20:35:00  16.615666    NaN       NaN        0
30943 2018-12-29  20:40:00  15.358522    NaN       NaN        0
30944 2018-12-29  20:45:00  16.269523    NaN       NaN        0
30945 2018-12-29  20:50:00  14.077682    NaN       NaN        0
30946 2018-12-29  20:55:00  14.695699    NaN       NaN        0
30947 2018-12-29  21:00:00  14.427188    NaN       NaN        0
30948 2018-12-29  21:05:00  18.680842    NaN       NaN        0
30949 2018-12-29  21:10:00  15.422060    NaN       NaN        0
30950 2018-12-29  21:15:00  14.997862    NaN       NaN        0
30951 2018-12-29  21:20:00  13.919938    NaN       NaN        0
30952 2018-12-29  21:25:00  14.632319    NaN       NaN        0
30953 2018-12-29  21:30:00  13.926676    NaN       NaN        0
30954 2018-12-29  21:35:00  15.378244    NaN       NaN        0
30955 2018-12-29  21:40:00  14.124084    NaN       NaN        0
30956 2018-12-29  21:45:00  14.271280    NaN       NaN        0

[30957 rows x 6 columns]

In [440]:
labels_df_1.to_csv(os.path.join(save_path, name_of_file_l1_time+sr0 + ".csv") )
labels_df_2.to_csv(os.path.join(save_path, name_of_file_l1_time+sr1 + ".csv") )
labels_df_3.to_csv(os.path.join(save_path, name_of_file_l1_time+sr2 + ".csv") )
labels_df_123.to_csv(os.path.join(save_path, name_of_file_l1_time+sr0+sr1+sr2 + ".csv") )

# Other useful commands 
### Back to multi-indexing

In [ ]:
data_lab_1.set_index(['date','time'], inplace=True)
data_lab_2.set_index(['date','time'], inplace=True)
data_lab_3.set_index(['date','time'], inplace=True)
data_lab_123.set_index(['date','time'], inplace=True)

In [250]:
data1_ll = data1_l.copy(deep=True)
data1_ll.set_index(['date','time'], inplace=True)

data2_ll = data2_l.copy(deep=True)
data2_ll.set_index(['date','time'], inplace=True)

data3_ll = data3_l.copy(deep=True)
data3_ll.set_index(['date','time'], inplace=True)

data123_ll = data123_l.copy(deep=True)
data123_ll.set_index(['date','time'], inplace=True)

In [251]:
# Accessing dates
i_date = data1_ll.index.get_level_values(0)                                      # get all dates
idx_date = np.unique(data1_ll.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list = i_date[idx_date]   # get list of all unique dates

# Accessing dates
i_date2 = data_lab_1.index.get_level_values(0)                                      # get all dates
idx_date2 = np.unique(data_lab_1.index.get_level_values(0), return_index=True)[1]      # get index of unique dates
date_list2 = i_date2[idx_date2]   # get list of all unique dates